# Backend Configuration
PORT_NUM=5100
DB_URI=your_mongodb_connection_string
TOKEN_SECRET_KEY=your_jwt_secret_key

# Cloudinary Configuration
# Add Cloudinary credentials here
VITE_CLOUD_NAME=your_cloud_name
VITE_UPLOAD_PRESET=your_upload_preset
